@keyframes typing {
  0%,
  50% {
    content: "";
  }
  12%,
  62% {
    content: ".";
  }
  25%,
  75% {
    content: "..";
  }
  37%,
  87% {
    content: "...";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 4s steps(9, end) infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}

@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  .typewriter::before {
    content: "Loading";
    animation: none;
  }
}
